@font-face {
    font-family: 'PPEiko';
    src: url('fonts/PPEiko-Medium.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'PPEiko';
    src: url('fonts/PPEiko-BlackItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: 'PPEiko';
    src: url('fonts/PPEiko-Heavy.otf') format('opentype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'PPEiko';
    src: url('fonts/PPEiko-LightItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'PPEiko';
    src: url('fonts/PPEiko-Thin.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
}

:root {
    --top-circle-inner: 15%;
    --bottom-circle-inner: 15%;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    font-family: "PPEiko";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    background-color: rgb(205, 199, 175);
    background-image:
        radial-gradient(circle at 2% 10%, rgb(26, 18, 17) var(--top-circle-inner), transparent 70%),
        radial-gradient(circle at 89% 100%, rgb(26, 18, 17) var(--bottom-circle-inner), transparent 80%),
        url(assets/background.png);
}

img {
    height: 34vmin;
    margin: 0vh 1vh 1vh 0vh;
}

video {
    width: 100%;
    height: auto;
}

.project-room {
    flex-direction: row;
    align-items: flex-start;
}

.video {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    margin: 5vh;
    width: 720px
}

.video-gabinete {
    flex-direction: column;
    display: flex;
    margin-left: 5vh;
    width: 120vmin;
}


.filme-video {
    width: 45vmin;
}

.video-project {
    height: 34vmin;
}

/* .image-project {
    width: 400px;
} */


.text {
    align-self: flex-start;
    max-width: 90vh;
    max-height: 30vh;
}

.section-content {
    margin: 0vh 2vh 0vh 2vh;
}

.side {
    max-width: 70vh;
    margin-right: 2vh;
    /* align-self: flex-end; */
}

.text-gabinete {
    margin-top: 2vh;
    max-width: 1800px;
}

.project-room {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.text-side {
    max-width: 61.3vh;
    margin: 0vh 0vh 0vh 1.5vh;
    font-size: 1.7vh;
}

p {
    font-style: normal;
    font-weight: 100;
}

ul {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    margin-left: 4vh;
}

li {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 0px;
    cursor: pointer;
    transition: all 0.5s ease;
    min-width: 25px;
    /* Mudar para largura do titulo*/
}

li.active {
    flex: 20;
    /*reduzir aqui*/
    cursor: default;
}

.hidden > .section-content {
    display:none;
}

/* .section-title {
    align-items: stretch;
    align-content: stretch;
} */



li.active .section-content {
    flex: 20;
    /*reduzir aqui*/
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transform: scaleX(1);
    font-size: 1.7vmin;
    color: rgb(205, 199, 175);
}

li .section-title {
    flex: 1;
    display: flex;
    align-items: flex-start;
    font-weight: 100;
    width: 100%;
    margin: 0;
    color: rgb(205, 199, 175);
    border-left: 2px solid rgb(205, 199, 175);
}

:not(li.active)>.section-title:hover {
    padding-top: 65vh;
}

:not(li.active)>.section-title {
    transition: padding-top 3s ease-in-out;
}

li .first {
    border-style: none;
}

li .section-title h1 {
    margin: 5vh 0vh 5vh 1vh;
    font-size: 18px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: start;
    white-space: nowrap;
    font-style: normal;
    font-weight: 300;
}

li .section-content {
    flex: 0;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.25s 0.1s ease-out;
    font-size: 0pt;
    /* min-width: none; */
}

.manual {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.manual-text {
    width: 50vh;
    margin: 10vh 3vh 3vh 0vh;
}

#manual-de-producao {
    width: 50vh;
    height: auto;
}

.imagens-manual {
    display: flex;
    flex-direction: row;
}

.informacao {
    margin: 15vh 17vh 0vh 0vh;
    font-size: 1.3vmin;
}

a {
    color: rgb(205, 199, 175);;
}

.image-text {
    position: relative;
    margin: 0vh 1vh 1vh 0vh;
}

.text-top {
    position: absolute;
    top: 20vh;
    width: 30vh;
    padding-left: 2vh;
    background-color: rgb(26, 18, 17);
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: -12vh;
}

/* .magnify{
    position: absolute;
    z-index: 20;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: inset 0 0 20px rgba(0,0,0,.5);
    display: none;
    cursor: none;
} */

@media screen and (max-width:960px) {
    
    /* TITULOS DIVISÓRIAS */

    li .section-title h1 {
        font-size: 16px;
        margin: 5vh 0vh 5vh 0vh;
    }

    /* MAIN PAGE */

    .video {
        align-self: flex-end;
        justify-content: flex-end;
        margin: 0vh 2vh 1vh 0vh;
        width: 500px;
    }

    .text {
        width: 500px;
        font-size: 11pt;
    }

    /* PROJECT ROOM */

    img, .video-project {
        width: 34vmin;
        height: auto;
    }

    .text-side {
        width: 34.5vmin;
        font-size: 11pt;
    }

    /* GABINETE DE FICCAO */

    .video-gabinete {
        flex-direction: column;
        display: flex;
        margin-left: 5vh;
        width: 63vmin;
    }

    .text-gabinete {
        margin-top: 1vh;
        max-width: 2000px;
    }    
    
}

@media screen and (max-width:600px) {
    
    /* TITULOS DIVISÓRIAS */

    li .section-title h1 {
        font-size: 13px;
        margin: 5vh 0vh 5vh 0vh;
    }

    /* MAIN PAGE */

    .video {
        align-self: flex-start;
        justify-content: flex-start;
        margin: 0vh 1vh 1vh 0vh;
        width: 400px;
    }

    .text {
        width: 400px;
    }
    
}

/* @media screen and (max-width:360px) {
    
    /* TITULOS DIVISÓRIAS */

    /* li .section-title {
        flex: 1;
        display: flex;
        align-items: flex-start;
        font-weight: 100;
        width: 100%;
        margin: 0;
        color: rgb(205, 199, 175);
        border-left: 0px;
    }

    :not(li.active)>.section-title:hover {
        padding-top: 0vh;
    }

    :not(li.active)>.section-title {
        transition: none;
    }

    li .section-title h1 {
        font-size: 13px;
        margin: 5vh 0vh 5vh 0vh;
    }

    /* MAIN PAGE */

    /* .section-content {
        height: 1000px;
        align-items: flex-end
        align-content: flex-end
    }

    .video {
        align-self: flex-start;
        justify-content: flex-start;
        margin: 0vh 1vh 1vh 0vh;
        width: 400px;
    }

    .text {
        width: 400px;
    } */
